<br>
<center><b><p style="font-size:70px ;">Magus Disadventure</p> </b></center>
<br>
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="/home" class="btn btn-primary">ACCEDER</a>
  <a href="/registro" class="btn btn-primary">CREAR REGISTRO</a>
</div>

<center><img src="../public/images/imagen_principal.jpg" width="75%" height="500px" ></center>
{{!-- <img style=' width:280px;height:200px;' src='imagen_principal.jpg'> --}}


