<br>
{{> encabezado}}
<br>
<h1>Este es el ranking de puntuaciones</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nickname</th>
      <th scope="col">Mejor puntuación</th>
      <th scope="col">Enemigos eliminados</th>
      <th scope="col">Cantidad de disparos mágicos</th>
      <th scope="col">Cantidad de disparos</th>
      <th scope="col">Muertes</th>
      <th scope="col">Mejor tiempo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Manfredy</td>
      <td>125,000</td>
      <td>5</td>
      <td>77</td>
      <td>100</td>
      <td>6</td>
      <td>10:36</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>William</td>
      <td>125,000</td>
      <td>5</td>
      <td>77</td>
      <td>100</td>
      <td>6</td>
      <td>1:50</td>
    </tr>
  </tbody>
</table>
