<br>
<center><b><p style="font-size:50px ;">Accede a tu cuenta</p> </b></center>
<br>
<div class="row justify-content-md-center">
    {{!-- <form action="/login" method="post">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Correo Electr칩nico </span>
            <input type="text" class="form-control" placeholder="Escribe aqui tu correo de acceso." aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group mb-3">
                <span class="input-group-text">Contrase침a: </span>
                <input type="password" class="form-control" placeholder="Escribe tu contrase침a de acceso" aria-label="contrase침a" aria-describedby="basic-addon1" value="" required>
        </div>
        <center><button type="submit" class="btn btn-success">ACEDER</button></center>

    </form> --}}
</div>

