<br>
<center><b><p style="font-size:50px ;">Creación de registro</p> </b></center>
<br>
<div class="row justify-content-md-center">
    <form action="/login" method="post">

        <div class="container">
            <div class="input-group mb-3">
                <span class="input-group-text" >Nombre completo: </span>
                <input type="text" name="nombre" class="form-control" placeholder="Escribe aqui tu nombre completo" aria-label="nombre" aria-describedby="basic-addon1" value="" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" >Apodo: </span>
                <input type="text" name="apodo" class="form-control" placeholder="Escribe aqui tu apodo" aria-label="apodo" aria-describedby="basic-addon1" value="" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" >Correo Electrónico: </span>
                <input type="text" name="email" class="form-control" placeholder="Escribe aqui dirección de correo electonico de registro" aria-label="email" aria-describedby="basic-addon1" value="" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Contraseña: </span>
                <input type="password" name="contraseña" class="form-control" placeholder="Escribe una contraseña de acceso" aria-label="contraseña" aria-describedby="basic-addon1" value="" required>
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text">Confirmar contraseña: </span>
                <input type="password" name="ccontraseña" class="form-control" placeholder="Vuelve a escribir la contraseña para confirmarla." aria-label="ccontraseña" aria-describedby="basic-addon1" value="" required>
            </div>


            <center><button type="submit" class="btn btn-success">CREAR REGISTRO</button></center>
        </div>
    </form>
</div>

